---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kissakala Wiki</title>
	</head>
	<body class="bg-white flex items-center justify-center min-h-screen">
		<h1 class="text-black text-6xl font-bold tracking-tighter">
            kissakala
        </h1>
	</body>
</html>
