---
import Layout from '../layouts/Layout.jsx';
---

<Layout title="Welcome" client:load>
  <p class="text-xl">Tekstiä tekstiä.</p>
  
  <div class="mt-8 p-6 bg-zinc-50 border border-zinc-200 rounded-lg">
    <h2 class="text-2xl font-bold mb-2">Esimerkkititteli</h2>
    <p>Esimerkkiteksti</p>
  </div>
</Layout>
