---
import Layout from '../layouts/Layout.jsx';
---

<Layout title="Ohjelmistot ja Sovellukset" client:load>
  <p>Tärkeitä ohjelmistoja ja sovelluksia opintojen aikana:</p>

  <ul class="list-disc pl-6 space-y-4 mt-6">
    <li id="teams">
      <strong>Microsoftin sovellukset:</strong> Tuni-tunnuksilla saat lisenssin kaikkiin Microsoftin sovelluksiin, kuten Teamsiin, jota käytämme aktiivisesti <a href="/Kissakala-Wiki/projektit" class="underline decoration-zinc-300 underline-offset-2 hover:text-zinc-600 transition-colors">projekteista</a> ja opinnoista viestimiseen.
    </li>
    <li id="tuudo">
      <strong>Tuudo:</strong> Sovellus, josta löydät muun muassa opiskelijakortin, lukujärjestyksen, suoritettujen opintojen määrän, etuja opiskelijoille, opiskelijaravintoloiden ruokalistat, TAMK:in pohjakartan sekä tärkeitä yhteystietoja.
    </li>
    <li>
      <strong>Frank App:</strong> Kätevä sovellus, josta löytyy kaikenlaisia etuuksia, esimerkiksi alekoodeja <a href="/Kissakala-Wiki/opiskelijaelama" class="underline decoration-zinc-300 underline-offset-2 hover:text-zinc-600 transition-colors">opiskelijaelämää</a> varten!
    </li>
    <li><strong>Canva:</strong> Graafisen suunnittelun työkalu.</li>
    <li><strong>Monday:</strong> Aikataulutussovellus, jossa pystyy jakamaan tehtäviä muille jne.</li>
    <li id="clockify">
      <strong>Clockify:</strong> Sovellus / nettisivu <a href="/Kissakala-Wiki/projektit" class="underline decoration-zinc-300 underline-offset-2 hover:text-zinc-600 transition-colors">projektituntien</a> merkkaamiseen.
    </li>
    <li><strong>Discord:</strong> VETO:lla on oma Discord-kanava, johon pääset liittymään linkin kautta.</li>
  </ul>
</Layout>