---
import Layout from '../layouts/Layout.jsx';
---

<Layout title="Ohjelmistot ja Sovellukset" client:load>
  <p>Tärkeitä ohjelmistoja ja sovelluksia opintojen aikana[cite: 47]:</p>

  <ul class="list-disc pl-6 space-y-4 mt-6">
    <li><strong>Microsoftin sovellukset:</strong> Tuni-tunnuksilla saat lisenssin kaikkiin Microsoftin sovelluksiin[cite: 48, 49].</li>
    <li><strong>Tuudo:</strong> Sovellus, josta löydät muun muassa opiskelijakortin, lukujärjestyksen, suoritettujen opintojen määrän, etuja opiskelijoille, opiskelijaravintoloiden ruokalistat, TAMK:in pohjakartan sekä tärkeitä yhteystietoja[cite: 50, 51].</li>
    <li><strong>Frank App:</strong> Kätevä sovellus, josta löytyy kaikenlaisia etuuksia, esimerkiksi alekoodeja[cite: 52, 53]!</li>
    <li><strong>Canva:</strong> Graafisen suunnittelun työkalu[cite: 54].</li>
    <li><strong>Monday:</strong> Aikataulutussovellus, jossa pystyy jakamaan tehtäviä muille jne[cite: 55, 56].</li>
    <li><strong>Clockify:</strong> Sovellus / nettisivu projektituntien merkkaamiseen[cite: 57, 58].</li>
    <li><strong>Discord:</strong> VETO:lla on oma Discord-kanava, johon pääset liittymään linkin kautta[cite: 59, 60].</li>
  </ul>
</Layout>